{extend name="base" /}
{block name="body"}
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form form-container" action="{:url('admin/font_category/save')}" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span> 分类名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" value="" required lay-verify="required" placeholder="请输入分类名称" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color: red;">*</span> 字体文件</label>
                        <div class="layui-input-block">
                            <div class="layui-inline" style="width:79%">
                                <input type="text" name="file_path" value="" required lay-verify="required" readonly  class="layui-input">
                            </div>
                            <button type="button" class="layui-btn layui-btn-danger" id="file_path">
                            <i class="layui-icon layui-icon-upload"></i> 上传字体
                            </button>
                        </div>
                    </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">字体描述</label>
                    <div class="layui-input-block">
                        <input type="text" name="remark" value="" required lay-verify="required" placeholder="请输入字体描述" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span> 分类排序</label>
                    <div class="layui-input-block">
                        <input type="text" name="index_sort" value="" required lay-verify="required" placeholder="请输入分类排序" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span> 状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="启用" checked="checked">
                        <input type="radio" name="status" value="0" title="禁用">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{/block}
{block name="script"}
<script>
    layui.use(function(){
    var upload = layui.upload;
    var layer = layui.layer;
    // 渲染
    upload.render({
        elem: '#file_path',
        url: '{$uploadurl}', // 此处配置你自己的上传接口即可
        accept:"file",
        size: 60000, // 限制文件大小，单位 KB
        before: function(obj){
            // 上传前回调
            // 显示 loading
            this.index = layer.load(1, {shade: [0.9, '#fff']}); // 0.1透明度的白色背景
        },
        done: function(res){
            // 上传完毕回调
            layer.close(this.index); // 关闭 loading
            layer.msg('字体文件上传成功');
            $("input[name=file_path]").val(res.url);
        },
        error: function(){
            // 请求异常回调
            layer.msg('字体文件上传失败');
            layer.close(this.index); // 关闭 loading
        }
    });
    });
</script>
{/block}